<% define_locals do
  variable :"fonts.main.name", type: :string, as: :font_name
  variable :"fonts.main.size", type: :int, as: :font_size

end -%>

set font "<%= local! :font_name %> <%= local! :font_size %>"
set window-title-basename "true"
set selection-clipboard clipboard
set zoom-center true
set search-hadjust false

map ,n set nohlsearch

set recolor-lightcolor "#888888"
set recolor-darkcolor "#000000"

" vim: set filetype=eruby.vim :
